<module>
	<rawname>announcement</rawname>
	<name>Announcements</name>
	<version>0.3</version>
	<changelog>
		*0.3* Added support to return to calling IVR
		*0.2* First Module Intro
	</changelog>
	<type>setup</type>
	<category>Inbound Call Control</category>
	<description>
		Plays back one of the system recordings (optionally allowing the user to skip it) and then goes to another destination.
	</description>
	<menuitems>
		<announcement>Announcements</announcement>
	</menuitems>
	<location>release/2.3/announcement-0.3.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-Announcement</info>
	<md5sum>b782fcef1bd4b4541dd550073c0b282f</md5sum>
</module>
