<module>
	<rawname>announcement</rawname>
	<repo>standard</repo>
	<name>Announcements</name>
	<version>15.0.3.10</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<changelog>
		*15.0.3.10* Bugfix/FREEI-890 fix xss bootstrap datatable issues 
		*15.0.3.9* bump 
		*15.0.3.8* Fixing FREEPBX-20080 
		*15.0.3.7* Fixing FREEPBX-20080
		*15.0.3.6* Better legacy restores
		*15.0.3.5* Utilize restore data directly to the database
		*15.0.3.4* FREEPBX-18866 
		*15.0.3.3* Fixing FREEPBX-15198 Multiple announcements can be added with same Name issue. 
		*15.0.3.2* Fix backup data format
		*15.0.3* FREEPBX-17706 Wrong URL's in Used as Destination - Announcements 
		*15.0.2* FREEPBX-17706 Wrong URL's in Used as Destination - Announcements 
		*15.0.1* Forked from 13.0.7.1
	</changelog>
	<category>Applications</category>
	<description>
		Plays back one of the system recordings (optionally allowing the user to skip it) and then goes to another destination.
	</description>
	<database>
	<table name="announcement">
		<field name="announcement_id" type="integer" primarykey="true" autoincrement="true"/>
		<field name="description" type="string" length="50" notnull="false"/>
		<field name="recording_id" type="integer" notnull="false"/>
		<field name="allow_skip" type="integer" notnull="false"/>
		<field name="post_dest" type="string" length="255" notnull="false"/>
		<field name="return_ivr" type="boolean" default="0"/>
		<field name="noanswer" type="boolean" default="0"/>
		<field name="repeat_msg" type="string" length="2" default=""/>
	</table>
</database>
	<depends>
		<version>13.0.191.12</version>
		<module>recordings ge 3.3.8</module>
	</depends>
	<menuitems>
		<announcement needsenginedb="yes">Announcements</announcement>
	</menuitems>
	<popovers>
		<announcement>
			<display>announcement</display>
			<view>form</view>
		</announcement>
	</popovers>
	<supported>
		<version>15.0</version>
	</supported>
</module>